In [1]:
pip install pyspark

Requirement already satisfied: pyspark in c:\users\shreyas.awati\anaconda3\lib\site-packages (3.2.1)
Requirement already satisfied: py4j==0.10.9.3 in c:\users\shreyas.awati\anaconda3\lib\site-packages (from pyspark) (0.10.9.3)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pyspark

In [6]:
import pandas as pd 
pd.read_csv('TEST1.csv')

      Name   Age
0  Shreyas    31
1     Aishu   30
2   Ramesh    29

In [7]:
from pyspark.sql import SparkSession

In [8]:
spark=SparkSession.builder.appName('Practice').getOrCreate()
spark

In [13]:
df_pyspark=spark.read.csv('TEST1.csv')
df_pyspark.show()

+--------+---+
|     _c0|_c1|
+--------+---+
|   Name |Age|
|Shreyas | 31|
|   Aishu| 30|
| Ramesh | 29|
+--------+---+

In [15]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [16]:
df_pyspark.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)