# Tutorial 2 Pyspark Datafram

In [38]:
from pyspark.sql import SparkSession

In [39]:
spark = SparkSession.builder.appName('Dataframe').getOrCreate()

In [40]:
spark

In [41]:
##Read Data Set 
df_pyspark = spark.read.option('header','true').csv('TEST1.csv',inferSchema=True)

In [42]:
##Check the Schema 
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- exprince: integer (nullable = true)

In [43]:
df_pyspark = spark.read.csv('TEST1.csv',header=True,inferSchema=True)
df_pyspark.show()

+--------+---+--------+
|    Name|Age|exprince|
+--------+---+--------+
|Shreyas | 31|      10|
|   Aishu| 30|       8|
| Ramesh | 29|       4|
+--------+---+--------+

In [44]:
##Check the Schema 
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- exprince: integer (nullable = true)

In [45]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [46]:
df_pyspark.columns

['Name', 'Age', 'exprince']

In [47]:
df_pyspark.head(3)

[Row(Name='Shreyas ', Age=31, exprince=10),
 Row(Name='Aishu', Age=30, exprince=8),
 Row(Name='Ramesh ', Age=29, exprince=4)]

In [48]:
df_pyspark.show()

+--------+---+--------+
|    Name|Age|exprince|
+--------+---+--------+
|Shreyas | 31|      10|
|   Aishu| 30|       8|
| Ramesh | 29|       4|
+--------+---+--------+

In [56]:
##select used to view the colun name with data 
df_pyspark.select('Name','exprince').show()

+--------+--------+
|    Name|exprince|
+--------+--------+
|Shreyas |      10|
|   Aishu|       8|
| Ramesh |       4|
+--------+--------+

In [57]:
df_pyspark['Name']

Column<'Name'>

In [58]:
df_pyspark.dtypes

[('Name', 'string'), ('Age', 'int'), ('exprince', 'int')]

In [60]:
df_pyspark.describe().show()

+-------+--------+----+-----------------+
|summary|    Name| Age|         exprince|
+-------+--------+----+-----------------+
|  count|       3|   3|                3|
|   mean|    null|30.0|7.333333333333333|
| stddev|    null| 1.0|3.055050463303893|
|    min|   Aishu|  29|                4|
|    max|Shreyas |  31|               10|
+-------+--------+----+-----------------+

In [64]:
##adding columns in DF

df_pyspark =df_pyspark.withColumn('expreince after 2 years',df_pyspark['exprince']+2)
##df_pyspark.withColumn('expreince after 2 years',df_pyspark['exprince']+df_pyspark['Age']).show()

In [65]:
df_pyspark.show()

+--------+---+--------+-----------------------+
|    Name|Age|exprince|expreince after 2 years|
+--------+---+--------+-----------------------+
|Shreyas | 31|      10|                     12|
|   Aishu| 30|       8|                     10|
| Ramesh | 29|       4|                      6|
+--------+---+--------+-----------------------+

In [69]:
##Droping the Column 
df_pyspark=df_pyspark.drop('expreince after 2 years')
df_pyspark.show()

+--------+---+--------+
|    Name|Age|exprince|
+--------+---+--------+
|Shreyas | 31|      10|
|   Aishu| 30|       8|
| Ramesh | 29|       4|
+--------+---+--------+

In [70]:
##Rename the column 
df_pyspark.withColumnRenamed('Name','New Name').show()

+--------+---+--------+
|New Name|Age|exprince|
+--------+---+--------+
|Shreyas | 31|      10|
|   Aishu| 30|       8|
| Ramesh | 29|       4|
+--------+---+--------+