# Pyspark Data Frame 
    -Filter Opration

In [1]:
from pyspark.sql import SparkSession

In [4]:
spark= SparkSession.builder.appName('dataframe').getOrCreate()

In [13]:
df_pyspark = spark.read.csv('TEST2.csv',header=True,inferSchema=True)
df_pyspark.show()

+--------+----+--------+------+
|    Name| Age|exprince|Salary|
+--------+----+--------+------+
|Shreyas |  31|      10| 30000|
|   Aishu|  30|       8| 20000|
| Ramesh |  29|       4| 25000|
|    Tuka|  24|       4| 20000|
| Mahesh |null|    null| 40000|
|    null|  34|      10|  null|
|    null|  36|    null|  null|
|    Paul|  24|       3| 20000|
|  Harsha|  21|       1| 15000|
+--------+----+--------+------+

In [15]:
df_pyspark=df_pyspark.na.drop(how = 'any')

In [16]:
df_pyspark.show()

+--------+---+--------+------+
|    Name|Age|exprince|Salary|
+--------+---+--------+------+
|Shreyas | 31|      10| 30000|
|   Aishu| 30|       8| 20000|
| Ramesh | 29|       4| 25000|
|    Tuka| 24|       4| 20000|
|    Paul| 24|       3| 20000|
|  Harsha| 21|       1| 15000|
+--------+---+--------+------+

# Filter opration

In [19]:
#Salary 
df_pyspark.filter("Salary>=20000").select(['Name','Age']).show()

+--------+---+
|    Name|Age|
+--------+---+
|Shreyas | 31|
|   Aishu| 30|
| Ramesh | 29|
|    Tuka| 24|
|    Paul| 24|
+--------+---+

In [20]:
df_pyspark.filter(df_pyspark['Salary']<=20000).show()

+------+---+--------+------+
|  Name|Age|exprince|Salary|
+------+---+--------+------+
| Aishu| 30|       8| 20000|
|  Tuka| 24|       4| 20000|
|  Paul| 24|       3| 20000|
|Harsha| 21|       1| 15000|
+------+---+--------+------+

In [23]:
##Anding and Or Condition #
df_pyspark.filter((df_pyspark['Salary']<=20000) | (df_pyspark['Salary']>=15000)).show()

+--------+---+--------+------+
|    Name|Age|exprince|Salary|
+--------+---+--------+------+
|Shreyas | 31|      10| 30000|
|   Aishu| 30|       8| 20000|
| Ramesh | 29|       4| 25000|
|    Tuka| 24|       4| 20000|
|    Paul| 24|       3| 20000|
|  Harsha| 21|       1| 15000|
+--------+---+--------+------+

In [24]:
df_pyspark.filter(~(df_pyspark['Salary']<=20000)).show()

+--------+---+--------+------+
|    Name|Age|exprince|Salary|
+--------+---+--------+------+
|Shreyas | 31|      10| 30000|
| Ramesh | 29|       4| 25000|
+--------+---+--------+------+