### Pyspark Handling  Missing Values 
    -Droping Columns
    -Droping Rows 
    -Various Parameter in Droping Functionality 
    -Handling Missing Values by mean madin mode

In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Practice').getOrCreate()

In [5]:
df_pyspark=spark.read.csv('TEST2.csv',inferSchema=True,header=True)

In [7]:
##Droping Column 
df_pyspark.drop('Name').show()

+----+--------+------+
| Age|exprince|Salary|
+----+--------+------+
|  31|      10| 30000|
|  30|       8| 20000|
|  29|       4| 25000|
|  24|       4| 20000|
|null|    null| 40000|
|  34|      10|  null|
|  36|    null|  null|
|  24|       3| 20000|
|  21|       1| 15000|
+----+--------+------+

In [8]:
##Droping rows based on Null values 
df_pyspark.na.drop().show()

+--------+---+--------+------+
|    Name|Age|exprince|Salary|
+--------+---+--------+------+
|Shreyas | 31|      10| 30000|
|   Aishu| 30|       8| 20000|
| Ramesh | 29|       4| 25000|
|    Tuka| 24|       4| 20000|
|    Paul| 24|       3| 20000|
|  Harsha| 21|       1| 15000|
+--------+---+--------+------+

In [11]:
##any will delete all the null and all will delete if all are null 
df_pyspark.na.drop(how = 'any').show()

+--------+---+--------+------+
|    Name|Age|exprince|Salary|
+--------+---+--------+------+
|Shreyas | 31|      10| 30000|
|   Aishu| 30|       8| 20000|
| Ramesh | 29|       4| 25000|
|    Tuka| 24|       4| 20000|
|    Paul| 24|       3| 20000|
|  Harsha| 21|       1| 15000|
+--------+---+--------+------+

In [16]:
##threshold
df_pyspark.na.drop(how='any',thresh=1).show()

+--------+----+--------+------+
|    Name| Age|exprince|Salary|
+--------+----+--------+------+
|Shreyas |  31|      10| 30000|
|   Aishu|  30|       8| 20000|
| Ramesh |  29|       4| 25000|
|    Tuka|  24|       4| 20000|
| Mahesh |null|    null| 40000|
|    null|  34|      10|  null|
|    null|  36|    null|  null|
|    Paul|  24|       3| 20000|
|  Harsha|  21|       1| 15000|
+--------+----+--------+------+

In [19]:
##Subset
df_pyspark.na.drop(how='any',subset=['Salary']).show()

+--------+----+--------+------+
|    Name| Age|exprince|Salary|
+--------+----+--------+------+
|Shreyas |  31|      10| 30000|
|   Aishu|  30|       8| 20000|
| Ramesh |  29|       4| 25000|
|    Tuka|  24|       4| 20000|
| Mahesh |null|    null| 40000|
|    Paul|  24|       3| 20000|
|  Harsha|  21|       1| 15000|
+--------+----+--------+------+

In [25]:
##Filling the missing values 
df_pyspark.na.fill('Missing Value',['Name','Age','exprince','Salary']).show()

+-------------+----+--------+------+
|         Name| Age|exprince|Salary|
+-------------+----+--------+------+
|     Shreyas |  31|      10| 30000|
|        Aishu|  30|       8| 20000|
|      Ramesh |  29|       4| 25000|
|         Tuka|  24|       4| 20000|
|      Mahesh |null|    null| 40000|
|Missing Value|  34|      10|  null|
|Missing Value|  36|    null|  null|
|         Paul|  24|       3| 20000|
|       Harsha|  21|       1| 15000|
+-------------+----+--------+------+

In [26]:
df_pyspark.show()

+--------+----+--------+------+
|    Name| Age|exprince|Salary|
+--------+----+--------+------+
|Shreyas |  31|      10| 30000|
|   Aishu|  30|       8| 20000|
| Ramesh |  29|       4| 25000|
|    Tuka|  24|       4| 20000|
| Mahesh |null|    null| 40000|
|    null|  34|      10|  null|
|    null|  36|    null|  null|
|    Paul|  24|       3| 20000|
|  Harsha|  21|       1| 15000|
+--------+----+--------+------+

In [28]:
from pyspark.ml.feature import Imputer

In [35]:
impiuter = Imputer(inputCols=['Age','exprince','Salary']
                   ,outputCols=["{}_imputed".format(c) for c in ['Age','exprince','Salary']]
                  ).setStrategy("mode")

In [36]:
##Add Imputation col to df
impiuter.fit(df_pyspark).transform(df_pyspark).show()

+--------+----+--------+------+-----------+----------------+--------------+
|    Name| Age|exprince|Salary|Age_imputed|exprince_imputed|Salary_imputed|
+--------+----+--------+------+-----------+----------------+--------------+
|Shreyas |  31|      10| 30000|         31|              10|         30000|
|   Aishu|  30|       8| 20000|         30|               8|         20000|
| Ramesh |  29|       4| 25000|         29|               4|         25000|
|    Tuka|  24|       4| 20000|         24|               4|         20000|
| Mahesh |null|    null| 40000|         24|               4|         40000|
|    null|  34|      10|  null|         34|              10|         20000|
|    null|  36|    null|  null|         36|               4|         20000|
|    Paul|  24|       3| 20000|         24|               3|         20000|
|  Harsha|  21|       1| 15000|         21|               1|         15000|
+--------+----+--------+------+-----------+----------------+--------------+